{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Django Starter App</title>

    {% tailwind_css %}
</head>
<body>
    <h1>Welcome to Django Starter App About page</h1>
    <div>
        <h2>About</h2>
        <p>This is the about page</p>
    </div>
    <form action="/about" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <ul>
            <li>
                <button type="radio" name="gender" value="male">Male</button>
            </li>
            <li>
                <button type="radio" name="gender" value="female">Female</button>
            </li>
        </ul>
        <button type="submit">Submit</button>
    </form>
</body>
</html>

